# Attempt to load files from production if they're not the local version a developer is using
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule (.*) http://www.lancasterbeers.com/wp-content/uploads/$1
</IfModule>
